
.description{
    padding: 30px 0px;
    background-color: $offWhite;
    flex-direction: column;
    
    @include centerV;
    gap: 18px;
    &_title{
        margin: 0;
        font-size: 40px;
        font-weight: 700;
        @media screen and (max-width: 768px){
            text-align: center;
            font-size: 24px;
            
        }
    }
    &_text{
        font-size: 18px;
        font-weight: 300;
        color: $darkGrey;
        margin: 0;
        @media screen and (max-width: 768px){
            text-align: center;
            
        }
    }
    &_button{
        @include button-shadow;
        @include button-style;
        &:hover{
            opacity: 89%;
            @include dark-shadow;
        }
    }
    
    
}