*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 31px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media screen and (max-width: 768px) {
  header {
    padding: 14px 89px 13px 89px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  height: 50px;
}
.location_icon.fa-solid.fa-location-dot, .location_text {
  font-size: 16px;
}
.location_icon.fa-solid.fa-location-dot {
  color: #353535;
}
.location_text {
  font-weight: 500;
}

.description {
  background-color: #F6F6F6;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.description_title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}
.description_text {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin: 0;
}
.description_button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  color: white;
  border: 0px;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  padding: 13px 16px;
}
.description_button:hover {
  opacity: 89%;
}

.list__services {
  padding: 50px 180px;
  margin: 30px 0px;
}
.list__services__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}
.list__services__containers {
  display: flex;
  gap: 36px;
  width: 100%;
}
.list__services__containers .service {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.list__services__containers .service__number {
  border: 0px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -10px;
}
.list__services__containers .service__button {
  display: flex;
  align-items: center;
  padding-left: 35px;
  border: 0px;
  border-radius: 20px;
  width: 323px;
  height: 73px;
  font-size: 16px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.list__services__containers .service__icon.fa {
  color: #7E7E7E;
  padding-right: 17px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 0px 180px;
  border: 2px solid blue;
}
.restaurants .resturants_title {
  font-size: 24px;
  font-weight: 700;
}
.restaurants .restaurant_card {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  border: 2px solid red;
  width: 100%;
}
.restaurants .card {
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.restaurants .restaurant_picture {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 490px;
  height: 174px;
  object-fit: cover;
}
.restaurants .restaurant_title_icon {
  display: flex;
}
.restaurants .restaurant_card_icon.fa-regular.fa-heart {
  align-content: center;
  margin-left: auto;
  margin-top: 23px;
  margin-right: 25px;
  font-size: 22px;
}
.restaurants .restaurant_card_title {
  margin-top: 16px;
  margin-bottom: 0;
  padding-left: 13px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}
.restaurants .restaurant_card_text {
  padding-left: 13px;
  margin-top: 0px;
  font-family: Roboto;
  font-size: 17px;
}

footer {
  padding: 30px 25px;
  margin-top: 30px;
  background-color: #353535;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}
footer .footer_title {
  margin: 0;
  font-family: Shrikhand;
  font-size: 18px;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_nav {
  margin-top: 16px;
}
footer .footer_nav ul {
  margin: 0px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}
footer .footer_nav li {
  margin-bottom: 7px;
}
footer .footer_nav a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
