.services {
    border: 2px solid blue;
    padding: 50px 180px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    .title {
        border: 2px solid red;
        @include titles;
    }
    @media screen and (max-width: 768px) {
        padding: 0px 20px;
    }

    .list__service {
        display: flex;
        gap: 32px;
        border: 2px solid green;

        .service {
            @include centerV;

            &__number {
                border: 0px;
                color: $white;
                background-color: $purple;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                @include centerVH;
                position: absolute;
                margin-left: -10px;
            }

            &__button {
                @include centerV;
                padding-left: 35px;
                border: 0px;
                border-radius: 20px;
                width: 323px;
                height: 73px;
                font-size: 16px;
                background-color: $offWhite;
                @include light-shadow;
            }

            &__icon.fa {
                @include iconService;

            }
        }

        .service:hover .service__icon.fa {
            color: $purple;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 0px;
        }
    }

}

.restaurants {
    padding: 0px 180px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    margin-bottom: 30px;
    background-color: $offWhite;
    @media screen and (max-width: 768px) {
        margin-top: 68px;
        padding: 54px 20px 66px;
    }


    .title {
        @include titles;
        border: 2px solid black;
    }

    .list__resturant {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 50px 100px; 
        border: 2px solid green;
        width: 100%;
        @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 18px;
        }




        .card {
            @include centerV;
            @include cardStyles;

            .card__link {
                color: black;

                .card__pic {
                    border-radius: 15px 15px 0 0;
                    width: $picture-width-desktop;
                    height: $picture-height;
                    object-fit: cover;

                    @media screen and (max-width: 768px) {
                        width: $picture-width-mobile;
                    }
                }
            }

            .card__badge {
                @include badge;
            }

            .card__content {
                display: flex;
                justify-content: space-between;

                .card__infos__title {
                    margin-top: 16px;
                    margin-bottom: 0;
                    padding-left: 13px;
                    font-size: 18px;
                    font-weight: 700;
                    color: black;
                }

                .card__text {
                    padding-left: 13px;
                    margin-top: 0;
                    font-size: 17px;
                    color: black;
                }

                .card__infos__icon {
                    display: flex;
                    align-items: center;
                    margin-right: 25px;
                    font-size: 22px;
                    position: relative;
                    background: white;
                    border: 0;
                    .fa-regular.fa-heart{
                        position: absolute;
                        background-color: $white;
                        transition: opacity 1000ms ease-in-out;
                    }
                    .fa-regular.fa-heart:hover{
                        opacity: 0; /* Favorite__ico dissapear on hover, favorite__ico--color appears instead */
                        cursor: pointer;
                   
                    }

                    .fa-solid.fa-heart {
                        color: transparent;
                        background-image: $gradient;
                        background-clip: text;
                        -webkit-background-clip:text;
                       
                        
                    }

                


                }
            }
        }
    }
}