
.list__services{
    padding: 50px 180px;
    margin: 30px 0px;
    @media screen and (max-width: 768px){
       
        padding: 48px 20px 68px;
        margin: 0px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 0px;
    }    
    &__containers {
        display: flex;
        gap: 36px;
        width: 100%;
        @media screen and (max-width: 768px){
            display: flex;
            flex-direction: column;
            padding: 0px 17px;
            gap:0px;
        }
        .service{
            margin-top: 25px;
            @include centerV;
            &__number{
                border: 0px;
                color: $white;
                background-color: $purple;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                @include centerVH;
                position: absolute;
                margin-left: -10px;
            }
            &__button {
                @include centerV;
                padding-left: 35px;
                border: 0px;
                border-radius: 20px;
                width: 323px;
                height: 73px;
                font-size: 16px;
                background-color: $offWhite;
                @include shadow;
            }
            &__icon.fa {
                @include iconService;
                
            }
        
        }
        .service:hover .service__icon.fa {
            color: $purple;
        }

    }  
}

.restaurants {
    background-color: $offWhite;
    padding: 0px 180px 30px;
    @media screen and (max-width: 768px){
        padding: 0px;
    }
    .resturants__title {
        font-size: 24px;
        font-weight: 700;
        @media screen and (max-width: 768px){
            padding:54px 80px 0px 20px;
        }
    }

    .restaurant__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        width: 100%;
        @media screen and (max-width: 768px){
            gap: 18px;
            padding-right: 18px;
            padding-left: 17px;
        }

        .card {
            @include cardStyles;

            .card__link {
                color: black;
              
                .card__pic {
                    border-radius: 15px 15px 0 0;
                    width: $picture-width-desktop;
                    height: $picture-height;
                    object-fit: cover;
                    @media screen and (max-width: 768px){
                        width: $picture-width-mobile;
                    }
                }
                .card__badge{
                    @include badge;
                }
                .card__content {
                    display: flex;
                    justify-content: space-between;
                    .card__infos__title {
                        margin-top: 16px;
                        margin-bottom: 0;
                        padding-left: 13px;
                        font-size: 18px;
                        font-weight: 700;
                        color: black;
                    }
                    .card__text {
                        padding-left: 13px;
                        margin-top: 0;
                        font-size: 17px;
                        color: black;
                    }
                    .card__infos__icon {
                        display: flex;
                        align-items: center;
                        /*! margin-left: auto; */
                        margin-right: 25px;
                        font-size: 22px;
                    }
                }
            }
        }
    }

}
