


$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Shrikhand', sans-serif;
$purple:#9356DC;
$pink:#FF79DA;
$white:#ffff;
$lightGreen:#99E2D0;
$lightGrey:#EAEAEA;
$darkGrey:#353535;
$offWhite:#F6F6F6;
$meduimGrey:#7E7E7E;
$gradient:linear-gradient(to bottom, $pink 0%, $purple 100%);
$picture-width-desktop: 490px;
$picture-width-mobile:346px;
$picture-height: 174px;